	
<div *ngIf="user">
    <div>
      <label>Nom: </label> {{user.nom}}
    </div>
    <div>
      <label>Prénom: </label> {{user.prenom}}
    </div>
    <div>
        <label>Date de naissance: </label> {{user.dateNaiss}}
      </div>
      <div>
        <label>Email: </label> {{user.email}}
      </div>
      <div>
        <label>Tel: </label> {{user.tel}}
      </div>

    <div>
      <label>Active: </label> {{user.active}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='user.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!user.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteUser()'>Delete</span>
   
    <hr/>
  </div>