	  <div class="container">
    <div style="color: blue;">
     <h1>Test Angular + Firebase</h1>
    </div>
   
    <nav>
      <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Users</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    </nav>
    <router-outlet></router-outlet>

</div>