<h1>Users</h1>
<div *ngFor="let user of users" style="width: 300px;">
  <app-user-details [user]='user'></app-user-details>
</div>
<div style="margin-top:20px;">
  <button type="button" class="button btn-danger" (click)='deleteUsers()'>Delete All</button>
</div>