<h3>Create User</h3>
<div [hidden]="submitted" style="width: 300px;">
<form (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="user.nom" name="nom">
    </div>
    <div class="form-group col-md-6">
      <label for="prenom">Password</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="user.prenom" name="prenom">
    </div>
  </div>
  <div class="form-group">
    <label for="dateNaiss">Date de naissance</label>
    <input type="Date" class="form-control" id="dateNaiss" required [(ngModel)]="user.dateNaiss" name="dateNaiss">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"  type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="tel">Tel</label>
      <input type="text" class="form-control" id="tel" required [(ngModel)]="user.tel" name="tel">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
  
</div>
